### Gradle
build/
.gradle/
.gradle-user/
MainApp/build/
docs/_build/

### Local Android SDK
.android-sdk/

### Maven
target/

### IntelliJ IDEA
.idea/
out/
*.iml

### Netbeans
.nb-gradle/

### macOS
.DS_Store

### Gluon
gluoncloudlink_config.json

### Local secrets
local.properties
MainAppkeystore
MainAppkeystore.cer
upload_apk
upload_desktop
Supervisor.jnlp
genkey
setIcon.sh
setIcon2.sh
setIcon3.sh
setIcon4.sh
setIconNative.sh
release-signing.env
keys/

### Release artifacts
release/

### Local release tooling
release-signing.env.example
scripts/release_apk.sh

### Public sanitize state
.sanitize_state/

### Package Files
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

scripts/*
!scripts/check_no_internal_hosts.sh
docs
Doxyfile
