.root {
    -primary-swatch-50: #01ddff;
    -primary-swatch-100: #01ddff;
    -primary-swatch-150: #01ddff;
    -primary-swatch-200: #01ddff;
    -primary-swatch-250: #01ddff;
    -primary-swatch-300: #01ddff;
    -primary-swatch-350: #01ddff;
    -primary-swatch-400: #01ddff;
    -primary-swatch-450: #01ddff;
    -primary-swatch-500: #01ddff;
    -primary-swatch-550: #01ddff;
    -primary-swatch-600: #01ddff;
    -primary-swatch-650: #01ddff;
    -primary-swatch-700: #01ddff;
    -primary-swatch-750: #01ddff;
    -primary-swatch-800: #01ddff;
    -primary-swatch-850: #01ddff;
    -primary-swatch-900: #01ddff;
    -primary-swatch-950: #01ddff;
    -primary-swatch-1000: #01ddff;
}
